<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.email }}</li>
          <li><a href="https://scottylabs.org/crashcourse/">Crash Course</a></li>
          <li><a href="https://scottylabs.org/">ScottyLabs Website</a></li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {{ site.github_username }} GitHub
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>

</footer>
